.bar-chart{
    background-image: url('../images/statistics.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 92.2vh;
}